
@{
	Layout = null;
}

<html>
	<head>
		<title>ログイン画面</title>
		<link type="text/css" rel="new stylesheet" href="/Content/Site.css">
		<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>

		<style>
			.BASECONTAINER {
				width:1000px;
				height:100%;
				margin:0 auto; /* 中央に寄せる */
				background-color:white;
				text-align:center;
			}

			.CONTAINER {
				width:250px;
				margin:0 auto; /* 中央に寄せる */
				margin-bottom:5px;
			}

			.TOPPADDING {
				height:80px;
				clear:both;
			}

			.ERRORMSG {
				color:red;
				height:20px;
			}

			.LEFT {
				float:left;
			}

			.RIGHT {
				float:right;
			}

			.TEXTBOX {
				width:100%;
				margin-bottom:5px;
			}

			.SPAN {
				float:left;
				margin-left:5px;
			}

			.CHECKBOX {
				margin-top:0px !important; 
				margin-bottom:5px !important; 
			}
			
			.BUTTON {
				width:100%;
				margin-bottom:5px;
			}

			.TEXTAREA {
				width:500px;
				height:200px;
			}

			.NOTICE {
				color:red;
				font-size:12px;
				text-align:left;
			}
		</style>

		<script type="text/javascript">

		    //Javascriptで未入力チェック
		    function CheckNull() {
		        //idで画面のコントロールを参照する
		        var userid = document.getElementById("txtユーザーID");
		        var mail = document.getElementById("txtメールアドレス");
		        var pass = document.getElementById("txtパスワード");

		        if (userid.value == "" && mail.value == "") {
		            alert("ユーザーIDまたはメールアドレスを入力してください");
		            return false;
		        }

		        if (pass.value == "") {
		            alert("パスワードを入力してください");
		            return false;
		        }
		    }
		</script>

	</head>
<body>
	<form method="post" action="Index" id="Form1">
		<div class="BASECONTAINER">
			<div class="TOPPADDING"></div>
			<div class="ERRORMSG">@ViewBag.error</div><br />
			<div class="CONTAINER">
				<div class="NOTICE">※ユーザーIDまたはパスワードを入力</div>
				<input type="text" class="TEXTBOX" name="ユーザーID" id="txtユーザーID" placeholder="ユーザー名"/>
				<input type="text" class="TEXTBOX" name="メールアドレス" id="txtメールアドレス" placeholder="メールアドレス"/>
				<input type="password" class="TEXTBOX" name="パスワード" id="txtパスワード" placeholder="パスワード"/>
				<input type="checkbox" class="CHECKBOX LEFT" name="ID保存" id="chkID保存"/>
				<span class="SPAN">IDを保存する</span>
				<input type="submit" class="BUTTON" value="ログイン" id="btnログイン" @*onclick="return CheckNull()"*@/>
				<a href="" class="LEFT" >パスワード忘れ</a>
				<a href="" class="RIGHT" >新規登録</a>
			</div>
			<textarea class="TEXTAREA" readonly>お知らせ</textarea>
		</div>
	</form>
	<script type="text/javascript">

	    //Javascriptで未入力チェック
	    document.getElementById("btnログイン").onclick
			= function () {
			    //idで画面のコントロールを参照する
			    var userid = document.getElementById("txtユーザーID");
			    var mail = document.getElementById("txtメールアドレス");
			    var pass = document.getElementById("txtパスワード");

			    if (userid.value == "" && mail.value == "") {
			        alert("ユーザーIDまたはメールアドレスを入力してください");
			        return false;
			    }

			    if (pass.value == "") {
			        alert("パスワードを入力してください");
			        return false;
			    }

			    return true;
			};
	</script>

</body>
</html>

