<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SendMailUploadDir" value="~/Uploads/SendMail"/>
    <add key="ProfileIagmeDir" value="~/Uploads/Profile"/>
    <add key="ProfileTempIagmeDir" value="~/Uploads/Profile/Temp"/>
    <add key="BBUploadDir" value="/Uploads/BulletinBoard"/>
    <add key="BBUploadTempDir" value="/Uploads/BulletinBoard/Temp"/>
    <add key="NewPostUploadDir" value="~/Uploads/TimeLine/TempPost"/>
    <add key="NewCommentUploadDir" value="~/Uploads/TimeLine/TempComment"/>
    <add key="TimelineDir" value="~/Uploads/TimeLine"/>
    <add key="TimelineFirstLoadCount" value="10"/>
    <add key="TimelineNextLoadCount" value="3"/>
    <add key="XtextDownLoadFileDir" value="/Images"/>
    <add key="DocumentFileDir" value="/Documents"/>
    <add key="LogDir" value="/Logs"/>
    <add key="ErrorLogDir" value="/Logs"/>
    <add key="AdminEmail" value="hoang.phan@gat-company.com"/>
    <add key="ForSendingEmail" value="testing@gat-company.com"/>
    <add key="ForSendingPass" value="GatcTest_2017"/>
    <add key="MailServer" value="smtp.lolipop.jp"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
